<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RegressionSuite">
  <test name="RegressionTest">
    <classes>
      <class name="com.FirstProject.qa.TestCases.Login_test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
